{% extends 'base.html.twig' %}

{% block title %}PageDAuthentification{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Page d'authentification</h1>
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Page d'authentification</title>
		<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
		<style type="text/css">
		div {
				/*background-color : blue;*/
		} 
		</style>
	</head>
	<body>
		<header>

				
			<div class="img">
				<img src="{{ asset('build/images/logo.png') }}" class="img" alt="">


			</div>
			<br>
			<div class="gallery">
				<img src="{{ asset('build/images/banniere.png') }}" class="gallery" alt="">

			<br>
			<div class="img">
				<img class="img" src="images/cle.png">
			</div>
		
			<form action="verification.php" method="POST">
                <h1>Authentification</h1>
                <br>

			<div id="container">
            <!-- zone de connexion -->

                <label><b><h2>Nom d'utilisateur : </h2></b></label>
                <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>

                <br/><br/>

                <label><b><h2>Mot de passe :</h2></b></label>
                <input type="password" placeholder="Entrer le mot de passe" name="password" required>

               <br><br>

                <input type="submit" id='submit' value='Connexion' >


                <!-- <?php -->
                <!-- if(isset($_GET['erreur'])){ -->
                    <!-- $err = $_GET['erreur']; -->
                    <!-- if($err==1 || $err==2) -->
                        <!-- echo "<p style='color:red'>Utilisateur ou mot de passe incorrect</p> -->
            </form>
        </div>

        <br/><br/>

<!-- <div class="fin"> -->
				<!-- <img class="fin" src="images/banniere.png" style="width: 150px";> -->
				
			</div>

<section>

</section>

<footer>

<p>Contacts | En savoir plus</p>

</footer>

</div>

</body>


		</header>


	</html>
{% endblock %}
