{% extends 'base.html.twig' %}

{% block title %}CHRONOS{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    

    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CHRONOS</title>
		<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
		<style type="text/css">
		</style>
	</head>
	<body>
		<header>


			<div class="img">
				<img src="{{ asset('build/images/logo.png') }}" class="img" alt="">

			</p>

		<div class="text1">

			" Bienvenue, cliquez sur le lien pour accéder à la page ci-dessous ! "

		</div>

		<br>

		</br>

		<div class="menu">
				<a href="{{ path('page_authentification') }}">Authentification</a>
			</div>
		
  </body>
</html>


{% endblock %}

