{% extends 'base.html.twig' %}

{% block title %}EnSavoirPlus{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>En savoir plus</h1>
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>En savoir plus</title>
		<link rel="stylesheet" type"text/css" href="style_savoirplus.css">
		<style type="text/css">
		div {
				/*background-color : blue;*/
		} 
		</style>
	</head>
	<body>
		<header>
			<div class="img">
				<img class="img" src="images/logo.png" style="width: 500px";>
			</div>

			</div>

		<div class="texte">

			<strong>En savoir plus</strong>

		</div>

			<div class="text">

			<p><strong>CHRONOS</strong> est un système de gestion de réservation de ressources (salles, matériels,...).

			<p>Développé en php et en responsive, ce qui lui permet d'être accessible, de n'importe où et sur tout type d'équipement (PC, Mac, tablette, téléphone,...).

			<p><strong>CHRONOS</strong> est entièrement configurable (gestion des horaires, des accès, mails,...) et reste simple d'utilisation.
			</p>

			</div>

			<div class="ge-photo">
				<diV>
					<img class="" src="images/Planning image 3.jpg">
				</diV>
				<diV>
					<img class="" src="images/Mr Planning.jpg">
				</diV>
				
				
			</div>
			<section>

</section>
			<div class="menu">

					<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/page_contact.html">Contacts |</a>
	
</footer>

</div>

</body>


		</header>


	</html>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/src/Controller/EnSavoirPlusController.php'|file_link(0) }}">src/Controller/EnSavoirPlusController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/templates/en_savoir_plus/index.html.twig'|file_link(0) }}">templates/en_savoir_plus/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
