{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Planning</h1>
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>plannings</title>
		<link rel="stylesheet" type"text/css" href="plannings.css">
		<style type="text/css">
		div {
				/*background-color : blue;*/
		} 
		</style>
	</head>
	<body>
		<header>
			<div class="img">
				<img class="img" src="images/logo.png" style="width: 500px";>

			<div class="menu">
				<!-- <a href="#">Pla | </a> -->
				<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/plannings.html">Planning |</a>
				<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/reservations.html">Reservations |</a>
				<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/page_materiel.html">Matériels</a>
			</div>

			</div>

			<h2 align="left">Stagiaires</h2>
			<h2 align="right">Formateurs</h2>
			
			<div class="ge1-photo">
				<div>
					<img class="" src="images/planning-absence1.png">
				</div>
				<div>
					<img class="" src="images/picto-crm-planning.png">
				</div>

				

			</div>

<footer>

<div class="menu">

					<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/page_contact.html">Contacts |</a>
					<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/en_savoir_plus.html">En savoir plus</a>
</footer>

</div>

</body>


		</header>


	</html>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/src/Controller/PlanningController.php'|file_link(0) }}">src/Controller/PlanningController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/templates/planning/index.html.twig'|file_link(0) }}">templates/planning/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
