{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Réservations</h1>
<!DOCTYPE html>
<html>
<head>

<link href='fullcalendar-3.10.0/fullcalendar.min.css' rel='stylesheet' />
<link href='fullcalendar-3.10.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='fullcalendar-3.10.0/lib/moment.min.js'></script>
<script src='fullcalendar-3.10.0/lib/jquery.min.js'></script>
<script src='fullcalendar-3.10.0/fullcalendar.min.js'></script>


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Réservations</title>
    <link rel="stylesheet" type="text/css" href="reservations.css">
    <style type="text/css">
    div {
        /*background-color : blue;*/
    } 
    </style>

  

  </head>
  <body>

    <header>
      <div class="img">
        <img class="img" src="images/logo.png" style="width: 500px";>
      </div>
    </header>
   

      <div class="menu">
        <!-- <a href="#">Pla | </a> -->
        <a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/plannings.html">Planning |</a>
        <a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/page_materiel.html">Matériels</a>
      </div> 

	  <div id='calendar'></div>
	  
<script src="reservations.js"></script>
    </body>
</html>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/src/Controller/ReservationsController.php'|file_link(0) }}">src/Controller/ReservationsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/templates/reservations/index.html.twig'|file_link(0) }}">templates/reservations/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
