{% extends 'base.html.twig' %}

{% block title %}Materiels{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Matériels</h1>
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Page de matériel</title>
		<link rel="stylesheet" type"text/css" href="style_materiel.css">
		<style type="text/css">
		div {
				/*background-color : blue;*/
		} 
		</style>
	</head>
	<body>
		<header>
			<div class="img">
				<img src="{{ asset('images/logo.png') }}" width="110" height="110" class="d-inline-block align-top" alt="">

			</div>

		<div class="menu">
				<!-- <a href="#">Pla | </a> -->
				<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/plannings.html">Planning |</a>
				<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/reservations.html">Reservations |</a>
				<a href="file:///C:/Users/Christelle/Desktop/ADREC/Administratif/Projet%20tutor%C3%A9/HTML%20CSS/page_materiel.html">Matériels</a>
			</div>

			<p class="flotte">
	 			 <img src="images/ordi_p.png" alt="image" />

			</p>

		<div class="text1">

			Ordinateurs Portables

		</div>

		<div class="gallery">
				<img class="gallery" src="images/video_projecteur.jpg">
				<p><br><br><p>
				<img class="gallery" src="images/visio.jpg">
		
		</div>

		<div class="text2">

			Vidéos Projecteurs

		</div>

		<div class="text3">

			Appareil de Visio Conférences

		</div>
<section>

</section>

<footer>

			<div class="menu">

			<a href="file:///C:/Users/Lenovo/Documents/Adrec/Projet_Tutor%C3%A9/HTML_CSS/page_contact.html">Contacts |</a>
			<a href="https://getbootstrap.com/">En savoir plus</a>

</footer>

</div>

</body>


		</header>


	</html>


</header>


	</html>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/src/Controller/PageMaterielController.php'|file_link(0) }}">src/Controller/PageMaterielController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/templates/page_materiel/index.html.twig'|file_link(0) }}">templates/page_materiel/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
