{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Contacts</h1>
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Page Contact</title>
		<link rel="stylesheet" type"text/css" href="style_contact.css">
		<style type="text/css">
		div {
				/*background-color : blue;*/
		} 
		</style>
	</head>
	<body>
		<header>

			<div class="img">
				<img class="img" src="images/logo.png" style="width: 350px";>
			</div>

			<div class="menu">
				<!-- <a href="#">Pla | </a> -->
				<a href="https://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade">Planning |</a>
				<a href="https://fr.wikipedia.org/wiki/Hypertext_Markup_Language">Reservations |</a>
				<a href="file:///C:/Users/Lenovo/Documents/Adrec/Projet_Tutor%C3%A9/HTML_CSS/page_materiel.html">Matériels</a>
			</div>


			<p class="flotte">
	 			 <img src="images/tel.png" alt="image" />

			</p>

			<div class="text1">

				04 44 05 21 85

			</div>


			<p class="flotte1">
	 			 <img src="images/agencee.png" alt="image" />

			</p>

			<div class="text2">

			ADREC
			15 Boulevard Ambroise Brugière
			63100 - Clermont -Ferrand

			</div>


			<p class="flotte2">
	 			 <img src="images/email.png" alt="image" />

			</p>

			<div class="text3">

			contact@adrec-formation.fr

			</div>


			<p class="flotte3">
	 			 <img src="images/lien_fb.png" alt="image" />

	 			 <div class="text4">

			contact@adrec-formation.fr

			</div>


				<div class="maps">
				<img class="maps" src="images/maps.png">
			</div>
			</p>

			<section>

				<footer>

					<div class="menu">

					<a href="file:///C:/Users/Lenovo/Documents/Adrec/Projet_Tutor%C3%A9/HTML_CSS/page_contact.html">Contacts |</a>
					<a href="https://getbootstrap.com/">En savoir plus</a>

				</footer>

			</section>

			</div>

			</body>


		</header>


	</html>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/src/Controller/ContactsController.php'|file_link(0) }}">src/Controller/ContactsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Christelle/Desktop/ADREC/Administratif/Projet tutoré/symfony/chronos/chronos/templates/contacts/index.html.twig'|file_link(0) }}">templates/contacts/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
